.idea

# Created by .ignore support plugin (hsz.mobi)
### ZendFramework template
# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/
rancher-compose.exe
public/media/*
!public/media/.gitignore

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/


# Legacy ZF1
demos/
extras/documentation

